# Python
__pycache__/
*.py[cod]
*$py.class

# Sanal Ortam
venv/
ENV/
.venv/
.env/

# Ortam Değişkenleri Dosyası
.env

# IDE/Editör Dosyaları
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# İşletim Sistemi Dosyaları
.DS_Store
Thumbs.db

# Log Dosyaları (Eğer varsa ve lokalde tutuluyorsa)
*.log
logs/

# Cache Dosyaları (Eğer varsa)
.cache/
*.cache

# Kullanıcı tarafından yüklenen dosyalar (eğer varsa ve takip edilmemesi gerekiyorsa)
# uploads/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints 